
body{

background-image: url(../media/anonss.jpg);
background-size: cover;
background-repeat: no-repeat;


}
html {
  font-size: 1.5em;
  line-height: 1.3em;
  font-family: sans-serif,Arial;
  text-align: left;
  color: #FF0000;
  padding-left: 20px;
  padding-right: 300px;
}
#best{
  text-align: center;
}
#test{
  text-align: center;
}
